.nf-response-msg {
	color: $success;
}

.nf-form-cont {
	.nf-form-content {
		padding: 0;
		max-width: none;
	}

	.nf-field-description {
		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	.nf-after-form-content .nf-error-msg {
		font-size: $h3-font-size;
		text-align: center;
	}

	.nf-form-fields-required {
		font-size: $h4-font-size;
	}
}

body.logged-in {
	.nf-field-container.form-type, .nf-field-container.email-confirm {
		display: none !important;
	}
}

.upload-form {
	margin-top: 3rem;

	.name:not(:first-child) {
		margin-top: 1rem;
	}
}

body.type-youth .upload-family-field {
	display: none !important;
}

.upload-button {
	margin-bottom: 1rem;
}

.file_upload-wrap .nf-field-element {
	@include make-row();
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;

	div, button {
		@include make-col();
	}

	.files_uploaded {
		@include make-col(12);
		margin-top: 1rem;
	}

	button {
		margin-right: 2rem;
		max-width: 10rem;
	}

	button, .nf-fu-progress {
		margin-bottom: 0;
	}
}

.label-left .nf-field-label {
	margin-right: 2rem !important;
	padding-right: 0 !important;
	text-align: center !important;
	width: 10rem !important;
}
